.social .link {
  width: 75px;
  height: 75px;
}

.social .link {
  padding: 5px;
  color: white;
}

.social .link:hover.facebook {
  color: #3B5998;
}

.social .link:hover.twitter {
  color: #00ACEE;
}

.social .link:hover.envelope {
  color: tomato;
}

.social .link:hover.linkedin {
  color: #0077B5;
}